@import "bootstrap/scss/_functions";
// My Bootstrap Configuration
@import "styles/custom-variables";

.nuka-carousel {
    color: $white;
    padding: 0 0 30px;
    text-align: center;
    
    .slider-control-bottomcenter,
    .slider-control-centerleft button,
    .slider-control-centerright button {
        display: none;
    }
}