.nuka-carousel {
  color: #fff;
  padding: 30px 0;
  text-align: center; }
  .nuka-carousel .slider-control-bottomcenter,
  .nuka-carousel .slider-control-centerleft button,
  .nuka-carousel .slider-control-centerright button {
    display: none; }
