ul.list-group .list-group-item {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  border-left: 0;
  border-right: 0;
  font-size: 1.2rem;
  font-weight: 200;
  border: 0; }
  ul.list-group .list-group-item:nth-child(even) {
    background: rgba(255, 255, 255, 0.05); }
  ul.list-group .list-group-item:hover {
    background: rgba(255, 255, 255, 0.1); }
  ul.list-group .list-group-item .icons {
    float: right; }
    ul.list-group .list-group-item .icons a {
      display: inline-block;
      padding: 0 5px;
      cursor: pointer; }
      ul.list-group .list-group-item .icons a.btn-add:hover .fa-plus-circle {
        color: #2aa9e0;
        transform: scale(1.1);
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease; }
      ul.list-group .list-group-item .icons a.btn-star:hover .fa-star {
        color: #FFCC02;
        transform: scale(1.1);
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease; }
  ul.list-group .list-group-item .check-box {
    float: right; }
