header {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 50;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  header .main-header {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
    padding-top: 80px;
    position: relative; }
    header .main-header:before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: -7px;
      left: -7px;
      right: -7px;
      bottom: -7px;
      border: 3px solid rgba(255, 255, 255, 0.7);
      border-radius: 100%; }
    header .main-header .logo {
      max-width: 190px; }
    header .main-header h1 {
      font-family: "Great Vibes", "Helvetica Neue", Arial, sans-serif;
      font-size: 5.2rem;
      line-height: 4.5rem;
      margin-top: 20px;
      margin-bottom: 0; }
    header .main-header h2 {
      font-size: 1.4rem; }
    header .main-header .buttons {
      padding-top: 30px; }
      header .main-header .buttons .btn-primary {
        font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
        font-size: 1.25rem;
        font-weight: 200;
        background: transparent;
        border-radius: 0;
        border-color: rgba(255, 255, 255, 0.3);
        border-left: 0;
        border-right: 0;
        text-transform: uppercase;
        margin: 0 15px;
        padding: 10px 2px; }
        header .main-header .buttons .btn-primary:hover {
          background: transparent;
          border-color: white; }
        header .main-header .buttons .btn-primary:focus {
          background: transparent;
          border-color: white;
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 255, 0); }
        header .main-header .buttons .btn-primary:not(:disabled):not(.disabled):active, header .main-header .buttons .btn-primary:not(:disabled):not(.disabled):active:focus {
          background: transparent;
          border-color: white;
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 255, 0); }
