.btn-primary {
    font-family: $montserrat;
    font-weight: 200;
    background: transparent;
    border-radius: 0;
    border-color: rgba($color: #FFF, $alpha: 0.3);
    border-left: 0;
    border-right: 0;
    text-transform: uppercase;
    margin: 0 15px;
    padding: 10px 2px;

    &:hover {
        background: transparent;
        border-color: rgba($color: #FFF, $alpha: 1);
    }
}

.carousel-control-prev, .carousel-control-next {
    z-index: 100;
}