// Dashboard

.site-wrapper {
    background: #1E2E30;
    min-height: 100vh;
    padding-bottom: 60px;

    &::after {
        content: "";
        display: block;
        clear: both;
      }

    .dashboard-menu {
        position: fixed;
        width: 200px;
    }
    
    .main-content {
        float: left;
        width: calc( 100% - 200px );
        margin-left: 200px;

        .page-title {
            border-left: 5px solid $dull-green;
            margin-top: 20px;

            h1 {
                color: $white;
                padding-left: 10px;
            }
        }

        .list-wrapper {
            h4 {
                color: rgba($color: $bright-green, $alpha: 0.9);
                text-transform: uppercase;
                border-bottom: 3px solid rgba($color: $dull-green, $alpha: 0.9);
                padding-bottom: 10px;
                margin-bottom: 0;
            }
        }
    }
}

.form {
    .btn {
        border-radius: 6px;
    }
    .btn-primary {
        background-color: $primary;
        width: calc( 50% - 10px);
        margin-left: 10px;
        margin-right: 0;
        border: 0;
    }
    .btn-primary:hover {
        background: #1d81ac;
    }
    .btn-secondary {
        font-family: $montserrat;
        font-weight: 200;
        text-transform: uppercase;
        padding: 10px 2px;
        margin-right: 10px;
        width: calc( 50% - 10px);
        border: 0;
    }
    input {
        border: 0;
        border-radius: 6px;
        background: rgb(234, 239, 244);

        &:focus {
            background: rgba(234, 239, 244, 0.6);

            &::placeholder {
                color: rgba(110, 120, 131, 0.5);
            }
        }

        &::placeholder {
            font-family: $montserrat;
            font-weight: 200;
        }
    }
}